code {
  color: hsl(210, 11%, 35%);
}

.sym {
  color: hsl(330, 67%, 52%);
}

.tparam {
  color: hsl(220, 61%, 48%);
}

.kind {
  color: hsl(210, 11%, 75%);
}

.fparam {
  color: hsl(220, 61%, 25%);
  font-style: italic;
}

.tpe {
  color: hsl(100, 61%, 40%);
}

.clz {
  text-decoration: underline;
}

.card {
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.accordion-button {
  padding: 0 0 0 1.5rem;
}

.accordion-button:after {
  position: absolute;
  left: 0;
}

.accordion-item {
  border: 0;
}

.accordion-body {
  padding: 0;
  margin-left: 1.5rem;
}