body {
  background-color: #fcfcfc;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4.5rem;
  margin-left: 2rem;
}

h2 {
  margin-top: 3rem;
  margin-left: 2rem;
}

code {
  font-family: "Fira Code", monospace !important;
  color: hsl(210, 11%, 35%);
}

.sym {
  color: hsl(330, 67%, 52%);
}

.tparam {
  color: hsl(220, 61%, 48%);
}

.kind {
  color: hsl(210, 11%, 75%);
}

.fparam {
  color: hsl(220, 61%, 25%);
  font-style: italic;
}

.tpe {
  color: hsl(100, 61%, 40%);
}

.clz {
  text-decoration: underline;
}

.card {
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: inherit;
}

.accordion-button {
  padding: 0 0 0 1.5rem;
  background-color: inherit;
}

.accordion-button:after {
  position: absolute;
  left: 0;
}

.accordion-item {
  border: 0;
  background-color: inherit;
}

.accordion-body {
  padding: 0;
  margin-left: 1.5rem;
}

.doc {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #202020;
}

.version {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  color: #8a8a8a;
}

.sidebar {
  margin-left: 0.5rem;
}